<div class="card bg light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn primary my-2" routerLink="/alumnos">Volver</button>
        <form>
            <div class="form-group my-1">
                <label for="">Nombre</label>
                <input type="text" name="nombre" class="form-control" [(ngModel)]="alumno.nombre">
            </div>
            <div class="form-group my-1">
                <label for="">Apellido</label>
                <input type="text" name="apellido" class="form-control" [(ngModel)]="alumno.apellido">
            </div>
            <div class="form-group my-1">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control" [(ngModel)]="alumno.email">
            </div>
            <div class="form-group my-1">
                <button type="button" class="btn btn-info mt-1" (click)="crear()">Crear</button>
            </div>
        </form>
    </div>
</div>